.break-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  &--hide {
    display: none;
  }

  .break-overlay__countdown {
    position: absolute;
    left: 3%;
    top: 3%;
  }
}
