.pause-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  &--hide {
    display: none;
  }

  .pause-overlay__play-button {
    position: absolute;
    bottom: 3%;
    left: 3%;
  }

  .pause-overlay__pause-button {
    display: none;
    &--hide {
      display: none;
    }
  }
}
