lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
*.swo

.DS_Store
pids
results
/tmp
/.env

npm-debug.log
node_modules
/*.tgz
.idea
*.iml

*~
*.swp
/.sass-cache
/public/stylesheets/
/public/js/
