<div class="video-container iframe-video"></div>
<script>
(function () {
  window.Ponyo = window.Ponyo || {};
  var id = window.Ponyo.newVideo(document.getElementsByClassName("iframe-video")[0], {{{toJSON source}}}, {{{toJSON query}}});
})()
</script>
