$control-bar-height = 30px;
$normalize-control-element {
  display: table-cell;
  background: none;
  height: $control-bar-height;
}
.control-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: table;
  background: rgba(#000, .7);
  transition: bottom .2s;
  height: $control-bar-height;

  &--hide {
    bottom: - $control-bar-height;
  }

  & > * {
    @extends $normalize-control-element;
  }

  .control-bar__progress-bar {
    @extends $normalize-control-element;
    width: 100%;
  }
}
