
@require "app/ui/stylus/mixins.styl";
$control-bar-height = 30px;

.control-bar__play-button {
  icon("icon_play.svg", $control-bar-height);
}

.break-overlay__play-button {
  icon("icon_play.svg", 50px);
  position: absolute;
  bottom: 3%;
  left: 3%;
  background-color: rgba(#000, .7);
}
