
@require "app/ui/stylus/mixins.styl";

$control-bar-height = 30px;
$button-icon {
  width: $control-bar-height;
  height: $control-bar-height;
  border: 0;
  background-color: transparent;
  background-size: cover;
}
$normalize-control-element {
  display: table-cell;
  height: $control-bar-height;
}


.control-bar__play-button {
  @extends $normalize-control-element;
  @extends $button-icon;
  background-image: image("icon_play.svg");
  fill: #fff;
}

.break-overlay__play-button {
  @extends $normalize-control-element;
  @extends $button-icon;
  position: absolute;
  bottom: 3%;
  left: 3%;
}
