.progress-bar {
  display: table;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  position: relative;

  .progress-bar__scrubber {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: black;
  }

  .progress-bar__progress {
    width: 0;
    height: 20px;
    background-color: red;
    transition: width .2s linear;
  }
}
