.volume {
  position: relative;

  .volume__control {
    height: 400%;
    width: 100%
    position: absolute;
    bottom: 100%
    left: 0;
    background: red;
    transition: height .2;

    &--hide {
      display: none;
      height: 0
      overflow: hidden;
    }
  }

  .volume__button {
    display: inline-block;
    &--hide {
      display: none;
    }
  }
}
