
@require "app/ui/stylus/mixins.styl";
$control-bar-height = 30px;

.control-bar__volume {
  position: relative;

  .volume__control {
    height: 400%;
    width: 100%
    position: absolute;
    bottom: 100%
    left: 0;
    background: black;
    transition: height .2;

    &--hide {
      display: none;
      height: 0
      overflow: hidden;
    }
  }

  .volume__indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: red;
    transition: height .04s;
  }

  .volume__button {
    display: inline-block;
    icon("ikon_volume_up_web.svg", $control-bar-height);
    &--mute {
      icon("icon_volume_off_web.svg", $control-bar-height);
      display: inline-block;
    }
  }
}
