 @require "app/ui/stylus/normalize.styl";
 @require "app/ui/stylus/reset.styl";
 @require "app/ui/stylus/variables.styl";

 .exp-video {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: $black;
 }

  .exp-player {
    overflow: hidden;
    padding-top: 56.25%;
    height: 0;
    position: relative;
  }
